
body {
  background: #f5f5f5;
  margin:0;
  padding:0;
}
nav a {
  text-decoration:none;
  color:#008080;
}
nav {
  position:fixed;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  background-color:#e0ebe8;
}
footer {
  background: #22313F;
  color: white;
  line-height: 40px;
  text-align:center;
  padding-top:5vh;
}
footer a {
  color: white;
}
#navbar ul{
  width:30%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  margin-left: auto;
}
#navbar ul li {
  list-style:none;
}
// welcome
#welcome-section p {
  color:green;
  top:50%;
}
#welcome-section {
  box-sizing:border-box;
  padding-top:45vh;
  background-color:#e0ebe8;
  min-height:100vh;
  text-align:center;
}
#projects {
  text-align:center;
  padding-top:5vh;
  min-height:100vh;
}
#projects a {
  text-decoration:none;
  font-weight:bold;
  color:#008080;
}
@media (min-width:800px) {
  #projects-detail {
    display:grid;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:10vw;
    grid-row-gap:5vh;
    justify-items:center;
    width:80%;
    margin:0 auto;
  }
}
@media (max-width:800px) {
  #projects-detail {
    display:grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(2,1fr);
    grid-column-gap:10vw;
    grid-row-gap:5vh;
    justify-items:center;
    width:80%;
    margin:0 auto;
  }
}
.project-pic {
  max-height:30vh;
}
.project-tile {
  justify-self:center;
  border:1px solid lightblue;
}
.btn {
  border:1px solid #90C695;
  color:#008080;
  background: #e0ebe8;
  padding:1vh 3vw;
  cursor:pointer;
}
#work {
  text-align:center;
  background:#C8F7C5;
  min-height:50vh;
  padding-bottom:5vh;
  padding-top:2vh;
}
#contact-detail {
  display:grid;
  width:90%;
  grid-template-columns:repeat(5,1fr);
  align-items:center;
  justify-self:center;
  align-self:center;
  justify-items:center;
  text-align:center;
  margin:0 auto;

}

.link {
  border: 2px solid #90C695;
  border-radius:100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color:#e0ebe8;
  color: #008080;
  text-decoration: none;
}
.link:hover {
  background-color:lightblue;
}
